@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add these styles to your CSS file */
.nav-menu {
  height: 0px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-menu.show {
  height: 100dvh;
  opacity: 1;
  transform: translateY(0);
}
